In [3]:
import pandas as pd
import numpy as np

 1. i) Create a list of empids and names (10 employees).

In [8]:
Name = ["Pallavi",'samu',"tanu","vaibhav","pratik","parth","gaytri","abhi","avirat","tabu"]
Empids = [1,2,3,4,5,6,7,8,9,10]

 ii) Convert list into Series.

In [15]:
df=pd.Series(Name,index=Empids)
df

1     Pallavi
2        samu
3        tanu
4     vaibhav
5      pratik
6       parth
7      gaytri
8        abhi
9      avirat
10       tabu
dtype: object

iii) Convert Series into DataFrame.

In [13]:
df = pd.DataFrame({
    'Name' :Name,
    'Empids':Empids
})
df

      Name  Empids
0  Pallavi       1
1     samu       2
2     tanu       3
3  vaibhav       4
4   pratik       5
5    parth       6
6   gaytri       7
7     abhi       8
8   avirat       9
9     tabu      10

 iv) a) Display all records.

In [16]:
df

1     Pallavi
2        samu
3        tanu
4     vaibhav
5      pratik
6       parth
7      gaytri
8        abhi
9      avirat
10       tabu
dtype: object

b) Display first five records.

In [17]:
df.head(5)

1    Pallavi
2       samu
3       tanu
4    vaibhav
5     pratik
dtype: object

 c) Display last five records.

In [18]:
df.tail(5)

6      parth
7     gaytri
8       abhi
9     avirat
10      tabu
dtype: object

In [20]:
df.to_csv('MyRecord.csv')